#yt-container {
  width           : 90vw;
  height          : 90vh;
  margin          : 0 auto 20px;
  background-color: rgba(255, 255, 255, 0.781);
  border: 20px solid rgba(255, 255, 255, 0.781);
  background-clip: padding-box;
  border-radius: 6px;
  position: relative;
}

#video {
  float     : left;
  text-align: center;
  width     : 60%;
  height    : 100%;
  overflow-y: hidden;
}

#list {
  float           : left;
  width           : 40%;
  height          : 100%;
  overflow-y      : scroll;
  overflow-x      : hidden;
  text-align      : center;
  background-color: rgba(255, 255, 255, 0.6);
}

#player {
  height: 30.375vw;
}

#player-buffer {
  display: none;
}

#desc {
  text-align: left;
  padding   : 20px;
  height: 23%;
  overflow: auto;
}

#desc h2 {
  margin: 0;
}

#desc a {
  color: #0067bb;
}

#vids {
  height: auto;
}

#video iframe {
  width : 100%;
  height: 100%;
}

#vids article {
  display      : flex;
  align-items  : center;
  padding      : 4px 12px;
  border       : 2px solid rgba(255, 255, 255, 0);
  border-radius: 6px;
  margin       : 0 auto;
  height       : 10vh;
  width        : 90%;
  text-align   : left;
}

#vids article:hover {
  border: 2px solid #ff9999;
  cursor: pointer;
}

.thumb {
  height: 100%;
  width : 16vh;
}

.details {
  text-align: left;
  width     : 75%;
  padding   : 8px 0 8px 8px;
  overflow  : hidden;
}

.details h4 {
  text-align: left;
  margin    : 0 0 -16px;
}

.details p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#load {
  border          : none;
  width           : 30%;
  padding         : 10px;
  border-radius   : 16px;
  color           : #fff;
  background-color: #777;
  margin          : 8px auto;
}

#load:hover {
  background-color: #222;
  color           : #fff;
  box-shadow      : 0 3px 10px rgba(0, 0, 0, 0.3);
}

/* width */
#yt-container ::-webkit-scrollbar {
  width: 12px;
  background: white;
}

::-webkit-scrollbar-track {
    
  border: 0px;
  box-shadow: 0px 0px 10px white;

}

/* Handle */
#yt-container ::-webkit-scrollbar-thumb {
  background   : #888;
  border-radius: 6px;
}

/* Handle on hover */
#yt-container ::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media screen and (max-width: 800px) {
  #yt-container {
    width: 100%;
    border: 0;
  }
  #video, #list {
    width: 100%;
  }
  #video {
    overflow-y: visible;
  }
  #player {
    height: 54vw;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: auto;
    z-index: 1;
  }
  #player-buffer {
    height: 54vw;
    display: block;
  }
  #desc {
    height: auto;
  }
  #yt-container {
    height: 1000px;
    display: flex;
    flex-direction: column;
  }
  .details {
    height: auto;
    vertical-align: top;
    font-size: .8rem;
  }

  .details h4 {
    height: 100%;
    padding: 0;
  }

}